.header{
	width: 100vw;
	height: 105px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid #ff5b00;
	box-sizing: border-box;
}
.header .middle{
	height: 50px;
	width: 1226px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.header .middle .left{
	height: 50px;
	width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}  
.header .middle .left img{
	height: 50px;
	width: 50px;
}
.header .middle .left span{
	display: block;
	font-size: 28px;
	font-weight: 300;
	color: #000;
}
.header .middle .left .box{
	height: 50px;
	width: 340px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.header .middle .left .box .box1{
	font-size: 12px;
	color: #000;
	margin-bottom: 12px;
}
.header .middle .right{
	height: 50px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header .middle .right .right-box{
	height: 20px;
	width: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.header .middle .right .right-box .box1{
	font-size: 14px;
	color: #000;
}
.header .middle .right .right-box .line{
	height: 14px;
	width: 2px;
	background: #f1e8e2;
	margin-top: 5px
}
main{
	width: 100vw;
	height: 1213px;
	background: #f2f2f2;
}
/* 内容开始 */
.fenge{
	height: 40px;
	width: 1226px;
	margin: 0 auto;
}
.list{
	height: 70px;
	width: 1226px;
	background: #fff;
	margin: 0 auto;
	border-bottom: 2px solid #e0e0e0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.list .middle{
	height: 20px;
	width: 1190px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list .middle .left{
	width: 260px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list .middle .left .box1{
	width: 60px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.list .middle .left .box1 i{
	display: block;
	height: 20px;
	width: 20px;
	background: #ff5b00;
	text-align: center;
	line-height: 20px;
	color: #fff;
}
.list .middle .left .box1 span{
	display: block;
	font-size: 14px;
	color: #000;
}
.list .middle .left .box2{
	font-size: 14px;
	color: #000;
}
.list .middle .right{
	width: 520px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 35px;
	
}
.list .middle .right .zuo{
	height: 20px;
	width: 390px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.list .middle .right .zuo span{
	display: block;
	font-size: 14px;
	color: #000;
}
.list .middle .right .you{
	font-size: 14px;
	color: #000;

}
.xq{
	width: 1226px;
	height: 295px;
	background: #fff;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.xq .xq1{
	width: 1180px;
	height: 295px;
	margin-right: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.xq .xq1 .s{
	width: 1180px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.xq .xq1 .s i{
	display: block;
	height: 20px;
	width: 20px;
	background: #ff5b00;
	text-align: center;
	line-height: 20px;
	color: #fff;
}
.xq .xq1 .s img{
	width: 60px;
	height: 70px;
}
.xq .xq1 .s span{
	font-size: 18px;
	color: #000;
}
.xq .xq1 .s .price{
	font-size: 14px;
	color: #000;
}
.xq .xq1 .s .hezi{
	width: 150px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.xq .xq1 .s .hezi .jia{
	font-size: 12px;
	color: #000;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	height: 40px;
	width: 37px;
	text-align: center;
	line-height: 40px;
	border-right: 0 ;
}
.xq .xq1 .s .hezi .geshu{
	width: 75px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	color: #000;
	background: #fff;
}
.xq .xq1 .s .hezi .jian{
	height: 40px;
	width: 37px;
	font-size: 12px;
	color: #000;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	text-align: center;
	line-height: 40px;
	border-left: 0 ;
}
.xq .xq1 .s .price1{
	font-size: 14px;
	color: #ff5b00;
}
.xq .xq1 .s .cheng{
	height: 12px;
	width: 12px;
	margin-right: 30px;
}
.xq .xq1 .z{
	height: 100px;
	width: 1100px;
	margin-left: 100px;
	
}
.xq .xq1 .z .box{
	height: 50px;
	width: 1100px;
	border: 2px solid #f2f2f2; 
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.xq .xq1 .z .box .yuan{
	height: 24px;
	width: 24px;
	background: #ff5b00;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 24px;
	margin-left: 20px;
}
.xq .xq1 .z .box span{
	display: block;
	font-size: 12px;
	color: #000;
	margin-left: 10px;
}
.xq .xq1 .z .box .hongzi{
	font-size: 12px;
	color: #ff5b00;
	margin-left: 10px;
}
.xq .xq1 .z .box:nth-child(2){
	height: 50px;
	width: 1100px;
	border: 2px solid #f2f2f2; 
	box-sizing: border-box;
	border-top: 0;
}
.xq .xq1 .x{
	height: 50px;
	width: 1100px;
	margin-left: 100px;
	border: 2px solid #f2f2f2; 
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
}
.xq .xq1 .x .yuan{
	height: 24px;
	width: 24px;
	background: #ff5b00;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 24px;
	margin-left: 20px;
}
.xq .xq1 .x span{
	display: block;
	font-size: 12px;
	color: #000;
	margin-left: 10px;
}
.xq .xq1 .x .hongzi{
	font-size: 12px;
	color: #ff5b00;
	margin-left: 10px;
}
.fenge1{
	height: 20px;
	width: 1226px;
	background: #f2f2f2;
	margin: 0 auto;
	
}
.fuwu{
	height: 50px;
	width: 1226px;
	background: #fff;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.fuwu .left{
	height: 50px;
	width: 350px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.fuwu .left .you{
	height: 50px;
	width: 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fuwu .left .you span{
	
	font-size: 14px;
	color: #000;
}
.fuwu .left .you span:nth-child(2){
	color: #ff5b00;
}
.fuwu .left .you span:nth-child(5){
	color: #ff5b00;
}
.fuwu .right{
	height: 50px;
	width: 380px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fuwu .right span:nth-child(1){
	font-size: 12px;
	color: #ff5b00;
	margin-top: 5px;
}
.fuwu .right span:nth-child(2){
	font-size: 22px;
	color: #ff5b00;
	margin-right: 70px;
}
.fuwu .right .jiesuan{
	width: 200px;
	height: 50px;
	background: #ff5b00;
	text-align: center;
	align-items: center;
	line-height: 50px;
	font-size: 18px;
	color: #fff;
}
.fenge3{
	height: 110px;
	width: 1226px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fenge3 .line{
	height: 2px;
	width: 380px;
	background: #e0e0e0;
}
.fenge3 .wenzi{
	color: #747474;
	font-size: 30px;
}
.tu{
	width: 1226px;
	height: 314px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.tu img{
	width: 235px;
	height: 300px;
	
}
/* 底部开始 */
footer{
	width:100vw;
	height: 270px;
	background: #fff;
}
.footer{
	width: 1226px;
	height: 450px;
	margin: 0 auto;
}
.footer .top{
	width: 1226px;
	height: 270px;
}
.footer .top .shang{
	width: 1226px;
	height: 80px;
	border-bottom: 2px solid #f2f2f2;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer .top .shang .box{
	height: 80px;
	width: 243.6px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.footer .top .shang .box .icon{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer .top .shang .box .icon .iconfont{
	width: 30px;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #696969;
}
.footer .top .shang .box:hover .icon .iconfont{
	color: orangered;
}
.footer .top .shang .box span{
	width: 120px;
	height: 30p;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #696969;
}
.footer .top .shang .box:hover span{
	color: orangered;
}
.footer .top .shang .line{
	width: 2px;
	height: 30px;
	background: #f2f2f2;
}
.footer .top .xia{
	width: 1226px;
	height: 190px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.footer .top .xia .left{
	width: 970px;
	height: 190px;
	display: flex;
	justify-content: flex-start;
}
.footer .top .xia .left .neirong{
	width: 190px;
	height: 190px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.footer .top .xia .left .neirong .wenzi1{
	width: 80px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	/* text-align: center; */
	font-weight: 600px;
	margin-bottom: 20px;
	
}
.footer .top .xia .left .neirong .wenzi2{
	width: 80px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	/* text-align: center; */
}
.footer .top .xia .left .neirong .wenzi2:hover{
	color: orangered;
}
.footer .top .xia .xian{
	width: 2px;
	height: 120px;
	background: #f2f2f2;
	margin-left: 10px;
}
.footer .top .xia .right{
	width: 254px;
	height: 190px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer .top .xia .right .neibox{
	height: 120px;
	width: 140px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	
}
.footer .top .xia .right .neibox .phone{
	height: 25px;
	width: 140px;
	line-height: 25px;
	text-align: center;
	font-size: 20px;
	color: orangered;
	
}
.footer .top .xia .right .neibox .text{
	width: 140px;
	height: 40px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	color: #000;
}
.footer .top .xia .right .neibox a .kefu{
	height: 30px;
	width: 140px;
	border: 1px solid orangered;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.footer .top .xia .right .neibox a :hover{
	background: orangered;
}

.footer .top .xia .right .neibox a .kefu .icon{
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.footer .top .xia .right .neibox a .kefu .icon .iconfont{
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	color: orangered;
}
.footer .top .xia .right .neibox a :hover .icon .iconfont{
	color: #fff;
}
.footer .top .xia .right .neibox a .kefu span{
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	color: orangered;
	font-weight: 500;
	
}
.footer .top .xia .right .neibox a :hover span{
	color: #fff;
}
.footer .bottom{
	width: 1226px;
	height: 180px;
} 
.footer .bottom .shang{
	width: 820px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer .bottom .shang .left{
	width: 60px;
	height: 60px;
}
.footer .bottom .shang .left img{
	width: 60px;
	height: 60px;
}
.footer .bottom .shang .right{
	width: 750px;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.footer .bottom .shang .right .list{
	width: 750px;
	height: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer .bottom .shang .right .list .box{
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	font-weight: 700;
	color:#747474;
	
	
}
.footer .bottom .shang .right .list .box:hover{
	color: orangered;
}
.footer .bottom .shang .right .list .lineshu{
	height: 12px;
	width: 2px;
	background: #747474;
	
}
.footer .bottom .shang .right .xialist{
	width: 750px;
	height: 45px;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
}
.footer .bottom .xialist .link{
	/* height: 25px; */
	font-size: 12px;
	font-weight: 700;
	/* line-height: 25px; */
	color: #d3d3d3;
}
.footer .bottom .xialist .link:hover{
	color: orangered;
}
.footer .bottom .xia{
	height: 100px;
	width: 820px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	
}
.footer .bottom .xia span{
	width: 350px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	color: #bbb;
	margin-right: 20px;
	letter-spacing: 5px;
	
	
}

/* 底部结束 */




/* 内容结束 */